@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

#box1 {
	width: 100%;
	padding: 180px 0 150px;
}

#box1 .inner {
	width: 1180px;
	margin: 0 auto;
	position: relative;
}

#box1 .inner h1 {
	font: bold 22px/1 "arial";
	color: #555;
	border-bottom: 2px solid #888;
	margin-bottom: 40px;
	padding-bottom: 20px;
}

#box1 .inner .wrap {
	width: 100%;
}

#box1 .inner .wrap::after {
	content: "";
	display: block;
	clear: both;
}

#box1 .inner .wrap article{
    float: left;
    background: #777;
    padding:  40px;
}

#box1 .inner .wrap article:nth-of-type(1){
    width: 720px;
}